NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEWS_API_KEY=
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
OPENAI_API_KEY=
HUGGINGFACE_API_KEY=
PATENTSVIEW_API_KEY=
ENABLE_LOCAL_HF_PIPELINES=true
HF_ALLOW_REMOTE_MODEL_DOWNLOAD=true
TRANSFORMERS_CACHE=./models
HF_FINBERT_ESG_MODEL=yiyanghkust/finbert-esg
HF_FINBERT_SENTIMENT_MODEL=ProsusAI/finbert
HF_BART_MNLI_MODEL=Xenova/bart-large-mnli
HF_BART_CNN_MODEL=Xenova/distilbart-cnn-6-6
HF_MINILM_MODEL=Xenova/all-MiniLM-L6-v2
